.label {
    font-size: 10px;
}

.charity-images img {
    width: 200px;
    padding: 1%;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(104, 104, 104, 0.75);
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
}

h3, h4, h5 {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Lato', sans-serif;
    color: #d79922;
}

h6 {
    margin-left: 50px;
}

h1 {
    padding: 20px;
    font-family: 'Lato', sans-serif;
    /*color: #c02f62;*/
    color: #0d1d33;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    /*text-shadow: 2px 2px 4px #64a8c7;*/
    /* Hack for the text shadow: https://wpshout.com/quick-guides/create-text-outline-css/*/
    /*text-shadow:*/
    /*        1px 1px 0 #000,*/
    /*        1px 1px 0 #000,*/
    /*        1px 1px 0 #000,*/
    /*        1px 1px 0 #000;*/
}

.h4-exception h4 {
    margin-top: 0;
    color: #0d1d33;
    text-align: center;

}
/* Tree */

.node circle {
    stroke: #000000;
    stroke-width: 1px;
}

.node text {
    font: 10px serif;
    fill: black;
    background-color: #ccc;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

img {
    width: 100%;
    height: auto;
}

.centered {
    text-align: center;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    /*height: 28px;         */
    padding: 2px;
    font: 12px sans-serif;
    background: lightgrey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#micronutrient-selection-button, #scatterplot-play-button {
    margin: 20px;
}

#references, #global-resources, #local-resources, #learn-more,
#scatterplot-slider, #bubble-radio-div, #bubble-map-radio, #first-avatar {
    margin-left: 40px;
}

/*CSS code for Slider taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
#slider {
    -webkit-appearance: none;
    width: 30%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d79922;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d79922;
    cursor: pointer;
}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.avatar-text{
    vertical-align: middle;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-left: 50px;
    margin-right:50px;
}

html {
    font-size: 14px;
}
.d3-tip-histogram {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    background-color: rgba(104, 104, 104, 0.75);
    padding: 10px;
    width: 400px;
    color: white;
}

/*Help with navbars: https://www.w3schools.com/css/css_navbar.asp*/

#myNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #ab3c61;*/
    /*background-color: #749fa8;*/
    background-color: #0d1d33;
    position: fixed;
    top: 0;
    width: 100%;
}

#myNavBar li {
    float: left;
    font-size: 12px;
}

#myNavBar li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 12px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#myNavBar li a:hover {
    /*background-color: #cd728e;*/
    /*background-color: #93b9bd;*/
    background-color: #152f50;
    text-decoration: none;
    color: white;
}

#selected-feature {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 12px 12px;
    text-decoration: none;
    /*background-color: #ab3c61;*/
    /*background-color: #749fa8;*/
    background-color: #0d1d33;
}

#myNavBar #selected-feature {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

@media (max-width: 1100px) {
    #myNavBar li {
        font-size: 10px;
    }

}

@media (max-width: 960px) {
    #myNavBar li {
        font-size: 8px;
    }

    html {
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }
}

@media (max-width: 840px) {
    #myNavBar #selected-feature {
        /*margin-top: 2px;*/
        margin-bottom: 10px;
    }
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 181px;
    vertical-align: top;
    overflow: visible;
    z-index: 1;
}

.svg-container-hist {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 250px;
    vertical-align: top;
    overflow: hidden;
}

.svg-container-line {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    vertical-align: top;
    overflow: visible;
}
.svg-container-tree {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    vertical-align: top;
    overflow: hidden;
}

#resources a {
    color: black;
}

#resources a:hover {
    color: #35536b;
}