.label {
    font-size: 10px;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(104, 104, 104, 0.75);
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
}

/* Tree */

.node circle {
    stroke: #000000;
    stroke-width: 1px;
}

.node text {
    font: 10px serif;
    fill: black;
    background-color: #ccc;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

img {
    width: 100%;
    height: auto;
}

.centered {
    text-align: center;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    /*height: 28px;         */
    padding: 2px;
    font: 12px sans-serif;
    background: lightgrey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#micronutrient-selection-button {
    margin: 20px;
}